/*Source: https://layout.bradwoods.io/customize */

/*Home CSS Begins*/
.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }
 /*Home CSS Ends*/

/*Navigation CSS Begins*/
.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

/*Content CSS Begins*/
.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid:
      "sidebar body" 1fr
      / auto 1fr;
    gap: 8px;
}
  
.sidebar { grid-area: sidebar; }
.body { grid-area: body; }
/*Content CSS Ends*/